/* Imported files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Variables and values defined. */
body {
  background: #17465d url("wnba-blur2.jpg") center/cover no-repeat fixed;
  color: #00001a;
  font-family: "Century Gothic", Tahoma, Georgia;
  line-height: 1.5em;
}

header,
section {
  margin: 2px;
}

header {
  background-image: linear-gradient(to bottom left, #ff6600, #ffff1a);
  text-align: center;
}

header p {
  text-align: right;
  background-image: linear-gradient(to top right, #ff6600, #ffff1a);
  font-size: 1.2em;
}

a,
h1 {
  padding: 15px;
}

p {
  padding: 20px;
  padding-top: 10px;
}

a {
  display: block;
  color: #00001a;
  text-decoration: none;
  text-align: center;
  border-bottom: thin solid #17465d;
  margin: 1px;
}

h1 {
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 1px;
  width: 75%;
  border-bottom: thick solid #00001a;
}

span {
  font-size: 1.5em;
  font-variant: small-caps;
}

/* Hover effects */
.link-1, .link-3 {
  transition: background 0.2s, color 0.2s, border-radius 0.2s;
}

.link-4 {
  transition: padding 0.3s;
}

.link-1:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.link-2:hover, .link-2:hover a {
  background: #ff3e13;
  color: #ff9179;
  font-family: Tahoma, sans-serif;
  border-radius: 0px 60px;
}

.link-3:hover {
  background: #996c53;
  font-family: Georgia, serif;
  border-radius: 25px;
}

.link-4:hover, .link-4:hover a {
  background: #00ff31;
  color: white;
  font-family: "Trebuchet MS";
  text-decoration: underline;
  text-align: right;
  padding-top: 5px;
}

.link-5:hover {
  background: radial-gradient(orange, #00001a);
  font-family: Calibri, sans-serif;
  text-align: left;
}

.link-1 {
  background-color: #ffc436;
}

.link-2 {
  background-color: #ff532c;
}

.link-3 {
  background-color: #6693ac;
}

.link-4 {
  background-color: #ffdb00;
}

.link-5 {
  background-color: #ff9a00;
}

/* Media queries */
@media only screen and (min-width: 360px) {
  section {
    display: grid;
    grid-gap: 10px 1px;
    grid-template-columns: auto auto;
  }

  header,
section {
    margin: 12px 2px;
  }

  a {
    border: none;
  }

  h1 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 530px) {
  section {
    display: -ms-grid;
    -ms-grid-columns: 25% 25% 25% 25%; 
    grid-template-columns: auto auto auto;
  }

  h1,
p {
    padding: 30px;
  }

  h1 {
    font-size: 3em;
    padding-bottom: 10px;
  }

  p {
    padding-top: 10px;
  }

/* For IE11 grid */ 
.ms-col-1 {
  -ms-grid-column: 1;
}
.ms-col-2 {
  -ms-grid-column: 2;
}
.ms-col-3 {
  -ms-grid-column: 3;
}
.ms-col-4 {
  -ms-grid-column: 4;
}
.row-1 {-ms-grid-row: 1;}
.row-2 {-ms-grid-row: 2;}
.row-3 {-ms-grid-row: 3;}
.row-4 {-ms-grid-row: 4;}
.row-5 {-ms-grid-row: 5;}
.row-6 {-ms-grid-row: 6;}
}
@media only screen and (min-width: 870px) {
  body {
    background: #17465d url("wnba-blur19.jpg") center/cover no-repeat fixed;
  }

  section {
    grid-template-columns: auto auto auto auto auto auto;
  }

  h1 {
    font-size: 4em;
    padding-bottom: 0px;
  }

  header p {font-size: 1.5em;}

  .link-2:hover, .link-2:hover a {
    vertical-align: sub;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    grid-template-columns: auto auto auto auto auto auto auto;
  }

  a {
    padding: 30px;
  }

  h1,
p {
    padding: 45px;
  }

  h1 {
    font-size: 5em;
    padding-bottom: 0px;
  }

  p {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  section {font-size: 1.5em;}
  header p {font-size: 2em;}
}
@media only screen and (min-width: 2000px) {
  body {
    background: #17465d url("wnba-blur25.jpg") center/cover no-repeat fixed;
  }

  section {
    grid-template-columns: auto auto auto auto auto auto;
  }

  header p {padding-top: 1.2em;}

  h1,
p, a {
    padding: 80px;
  }

  h1 {
    font-size: 7em;
    padding-bottom: 0px;
  }

  p {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 2560px) {
  body {
    background: #17465d url("wnba-blur78.jpg") center/cover no-repeat fixed;
  }
}

/*# sourceMappingURL=sun.css.map */
